backend/venv/

__pycache__/
*.pyc
*.pyo
*.pyd

# .gitignore

backend/data/train
backend/data/test

backend/src/models/mlartifacts
backend/src/models/mlruns
backend/src/models/performance_tracking

*.keras

frontend/node_modules